.FiguraTetris{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.NavBar {
    width: 100%;
    display: flex;
}
  
.NavBar button {
    margin: 0.5rem;
}

.Madality h2{
    font-size: 2.5rem;
    color: grey;
    margin-bottom: 1rem;
}